<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actuators</title>
</head>
<body>
    {% extends "baseadm.html" %}
    {% block content %}
    <div class="container">
        <h2>Atuadores:</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome do Atuador</th>
                    <th>Tópico</th>
                    <th>Unidade</th>
                    <th>Ativo</th>
                    <th>Deletar</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{ device.name }}</td>
                    <td>{{ device.topic }}</td>
                    <td>{{ device.unit }}</td>
                    <td>{{ 'Sim' if device.is_active else 'Não' }}</td>
                    <td><a href="{{ url_for('actuators_.del_actuator', id=device.id) }}">Deletar</a></td>
                    <td><a href="{{ url_for('actuators_.edit_actuator', id=device.id) }}">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('actuators_.register_actuator') }}" class="btn btn-primary">Adicionar Atuador</a>
    </div>
    {% endblock %}
</body>
</html>
    