<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "baseadm.html" %}
    {% block content%}
    <div class="vertical-center">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <form action= "http://localhost:8080/add_sensor" method= "POST">
                            <p>nome</p>
                            <p><input type = "text" name = "name" placeholder="nome" required/></p>
                            <p>ativo</p>
                            <p><input type = "checkbox" name = "is_active"required/></p>
                            <p>Unit</p>
                            <p><input type = "text" name = "unit" placeholder="unit" required/></p>
                            <p>Topic</p>
                            <p><input type = "text" name = "topic" placeholder="tópico" required/></p>
                            <p><input type = "submit" value = "Cadastrar" /></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}
</body>
</html>